.div {
    border: 2px solid black;
    background-color: rgba(213, 255, 220, 0.95);
    cursor: pointer;
    width: 80%;
    margin-top: 3%;
    overflow: hidden;
}

.picture {
    background-image: url(plans-background.jpg);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

* {
    margin: 0;
}

.div {
    padding-left: 2%;
    height: 100%;
    position: relative;
}

.plus {
    color: #0e4f1f;
    padding-top: 2%;
    font-weight: 600;
    font-size: 20px;
}

.popular {
    color: #555;
    padding-top: 2%;
    font-size: 15px;
    font-weight: 600;
}

.benefit {
    border: 1px solid black;
    background-color: white;
    padding-left: 2%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-right: 2px;
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-shadow: 3px 2px 4px deeppink;
    box-shadow: 3px 2px 9px black;
    text-decoration: underline wavy 1px blue pink;
}

.div:hover,
.div:active {
    border: 2px solid red;
}

.dir {
    background-color: rgba(234, 252, 237, 0.95);
    float: right;
}

.die {
    background-color: rgba(14, 79, 31, 0.95);
}

.clear {
    clear: both;
}

.premium {
    color: #ffffff;
}

.instant {
    color: #bfb4b4;
}

.clap a {
    background-color: #ff1b68;
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-weight: 700;
}

.clap:hover,
.clap:active {
    background-color: white;
    color: #ff1b68;
}

.nav {
    color: white;
    background-color: #ff0000;
    display: inline-block;
    margin-left: 80%;
    padding: 1%.0.5%;
    position: absolute;
    width: 5.5rem;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: x-small;
    transform: rotateZ(45deg) translatey(-100px) translateX(60px);
}

.host {
    height: 30px;
    width: auto;
    position: relative;
    top: 10px;
}

.mars {
    height: 20px;
    width: auto;
    position: fixed;
    z-index: 1;
}

.ioni {
    text-align: center;
    width: 30px;
    height: 30px;
    color: #b545ffe5;
}

.ionp {
    text-align: center;
    width: 30px;
    height: 30px;
    color: #ff0000e5;
}

.iont {
    text-align: center;
    width: 30px;
    height: 30px;
    color: #00b3ff;
}

.ionf {
    text-align: center;
    width: 30px;
    height: 30px;
    color: #0048ff;
}

.ions {
    text-align: center;
    right: 72rem;
    word-spacing: 20rem;
}