.mars {
    background-color: #2ddf5c;
    height: 1%;
    padding-bottom: 3%;
    position: fixed;
    width: 100%;
    top: 0%;
}

.bell {
    position: absolute;
    top: 20px;
    left: 75%;
}

.tank {
    list-style: none;
    text-align: end;
}

.tank a {
    text-decoration: none;
    color: #0e4f1f;
}

.tank li {
    display: inline-block;
    padding-right: 20px;
}

* {
    margin: 0;
    padding: 0;
}

.metre a {
    padding-top: 8px;
    padding-left: 15px;
    text-decoration: none;
    color: #0e4f1f;
    font-weight: 700;
}

.clap a {
    border-radius: 4px;
    background-color: #ff1b68;
    color: white;
    padding: 5px;
    font-weight: 700;
}

.pants {
    background-image: url(freedom.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.clip a {
    font-weight: 700;
}

.clip a:hover,
.clip a:active {
    color: ivory;
    border-bottom: 3px solid ivory;
}

.you {
    text-align: center;
    color: hsl(0, 0%, 100%);
    padding-top: 10%;
    font-size: x-large;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 60px;
}

.dive {
    background-color: #d5ffdc;
    display: inline-block;
    width: 30%;
    padding-top: 2%;
}

.workspace {
    background-color: linear-gradient(rgba(to fixed, violet, pink, skyblue, #ffe100, #398dd7, #ffe600, #ff6195));
    color: white;
}

.plan {
    text-align: center;
    font-size: 13px;
    color: #2ddf5c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
}

.recommended {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 9px;
}

.month {
    color: rgba(218, 20, 218, 0.533);
    padding-left: 8px;
    padding-right: 8px;
}

.dive p {
    padding-bottom: 3%;
}

.hobby {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 700;
}

.basic {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 500;
    list-style: none;
    padding-right: 0px;
    padding-bottom: 2%;
}

.basic li {
    padding-bottom: 1%;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}

.ball {
    background-color: white;
    border-radius: 9px;
    box-shadow: 2px 2px 2px 2px black;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding-top: 2%;
    margin-bottom: 3%;
    color: #0e4f1f;
}

.button {
    margin-bottom: 2%;
    color: #ffffff;
    background-color: #0e4f1f;
    cursor: pointer;
}

.button:hover,
.button:active {
    color: green;
    background-color: #ffffff;
}

.best a {
    background-color: #ff1b68;
    color: #ffffff;
    border-radius: 4px;
    font-weight: 700;
    padding-left: 4px;
    padding-right: 4px;
}

.best a:hover,
.best a:active {
    background-color: white;
    color: #ff1b68;
    border-radius: 4px;
    font-weight: 700;
}

.Good {
    padding-top: 2%;
    text-align: center;
    padding-bottom: 3%;
}

.fast figure {
    display: inline-block;
    width: 30%;
}

.figure {
    border: 1px solid #424242;
    background-color: #ffc8da;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.figure img {
    height: 120px;
    width: 120px;
}

.fast {
    stroke: #0e4f1f;
    padding-left: 15%;
}

.foot {
    background-color: #000;
    text-align: center;
}

.graph {
    text-align: center;
    padding-top: 2%;
    cursor: pointer;
    color: #ffffff;
    padding-bottom: 25px;
    padding-left: 2%;
}

.Trusting {
    padding-bottom: 19px;
    padding-top: 5%;
    vertical-align: middle;
    margin-left: 3%;
}

.graph:hover,
.graph:active {
    color: #6666;
}

.ink {
    background-color: deeppink;
    color: white;
}

.host {
    height: 30px;
    width: auto;
    position: relative;
    top: 10px;
    margin-left: 31px;
}

.clip {
    animation: bow 3s;
}

@keyframes bow {
    0% {
        transform: translatex(-120rem);
    }
}

.clep {
    animation: cow 2s;
}

@keyframes cow {
    0% {
        transform: translateX(-90rem);
    }
}

.clap {
    animation: best 4s;
}

@keyframes best {
    0% {
        transform: translateX(-150rem);
    }
}

.button img {
    vertical-align: middle;
    background-color: transparent;
    border: none;
}

.ioni {
    text-align: center;
    width: 30px;
    height: 30px;
    color: #b545ffe5;
}

.ionp {
    text-align: center;
    width: 30px;
    height: 30px;
    color: #ff0000e5;
}

.iont {
    text-align: center;
    width: 30px;
    height: 30px;
    color: #00b3ff;
}

.ionf {
    text-align: center;
    width: 30px;
    height: 30px;
    color: #0048ff;
}

.ions {
    text-align: center;
    right: 72rem;
    word-spacing: 20rem;
}